@charset
"utf-8"
;
@import url("normalizes.css");
@import url("color.css");
@import url("typography.css");
@import url("layout.css");

/* brown theme */
.shade-bolder {
    background-color: #565656;
}

.shade-bold {
    background-color: #a1a5a9;
}

.shade-normal {
    background-color: #e3e3d3;
}

.shade-lighter {
    background-color: #d0d0d0;
}

.shade-lightest {
    background-color: #f6f6f6;
}

.text-bolder {
    color: #000000;
}

.text-bold {
    color: #333333;
}

.text-normal {
    color: #565656;
}

.text-lighter {
    color: #d0d0d0;
}

.olive-normal {
    color: #0085cf;
}

.olive-lighter {
    color: #a9af88;
}

.fixed-width {
    font-family: monospace;
}

body {
    font-family: "Lucida Grande", Helvetica, verdana, clean, sans-serif;
    font-size: 0.8em;
    background-color: #f6f5f6;
}

#flash, .notice {
    color: #AE5F68;
}

#flash, .warning {
    color: #ff5f68;
}

#flash, .error {
    color: #ff5f68;
}

#flash, .message {
    color: #ff5f68;
}

#div_login {
    background: transparent url(/images/logo.png) no-repeat scroll top center;
    height: 60px;
}

#div_login_subdomain {
    height: 5px;
}

#menu {
    width: 100%;
    color: white; /*background-color: #555555;*/
    margin-bottom: 10px;
}

#menu a,
#menu a:link,
#menu a:visited,
#menu a:active {
    padding-right: 10px;
    color: white;
    text-decoration: none;
}

#menu a:hover {
    padding-right: 10px;
    color: black;
    text-decoration: underline;
}

/* ===== control file list management ============ */
ul.sortable_products {
    list-style-type: none;
    width: 10em;
    padding-left: 0px;
}

li.sortable, li.unapproved {
    height: 1.5em;
    cursor: move;
    line-height: 1.5em;
    text-align: left;
    margin-bottom: 3px;
    border: 1px solid gray;
    background: #e5e5e5;
}

li.unapproved label {
    color: red;
}

a.no-border {
    border: none;
}

img.no-border {
    border: none;
}

.movable {
    cursor: move;
}

div.available_widgets {
    height: 1em;
    float: left;
    cursor: move;
    line-height: .75em;
    text-align: center;
    margin-left: .25em;
    margin-bottom: .25em;
    background: #e5e5e5;
    border: 1px solid gray;
}

.middle {
    vertical-align: middle;
}

/* ========================================= */
.drop-down {
    float: left;
    margin-right: 10px !important;
    margin-bottom: 2px !important;
}

.clear-left {
    clear: left;
}

#theForm {
    background-color: #fff;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    padding: 5px;
}

#theForm select {
    margin: 2px;
}

.active-scaffold li.form-element dt {
    padding: 0px 6px;
    text-align: right;
}

.active-scaffold label {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

/*  additions for clarity report */
.active-scaffold input.text-input,
.active-scaffold select,
table.clarity,
.reportHdOdd, .reportHd, .sectionHd,
.reportLeftLabel, .reportRightLabel,
.reportLeftValue, .reportRightValue,
.report-row, .report-row-even,
.section-row, .section-row_even {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;
}

.active-scaffold input.text-input,
.active-scaffold select,
.active-scaffold textarea {
    border: solid 1px #333;
}

.active-scaffold-calendar {
    width: 135px; /* m-d-y h-m-s am*/
}

.active-scaffold-calendar-short {
    width: 60px; /* m-d-y*/
}

table.clarity {
    text-align: left;
    color: black;
    border: 1px #333 solid;
    background-color: white;
}

.reportHd,
.sectionHd,
.section-row,
.section-row-even,
.section-row-bottom {
    text-align: left;
    background-color: #d0d0d0;
}

.reportHd,
.sectionHd {
    background-color: #b0b0b0;
    border-bottom: 2px solid #565656;
}

.reportHd {
    padding-left: 30px;
}

.sectionHd {
    margin-top: 5px;
}

.section-row-bottom {
    border-bottom: thin solid;
}

.reportLeftLabel,
.reportRightLabel,
.reportLeftValue,
.reportRightValue,
.report-row,
.report-row-even {
    text-align: left;
    border: none;
}

.reportLeftLabel,
.reportRightLabel {
    color: #3c120a;
}

/* burgundy normal */

.section-row-even,
.report-row-even {
    background-color: #f0f0f0;
}

/*lightest*/

.report-row,
.report-row-even {
    padding-right: 2px;
}

.border-top {
    border-top: 1px solid #3c120a;
}

.border-bottom {
    border-bottom: 1px solid #3c120a;
}

.usages th {
    background-color: #B9DCFF;
}

table.usages td,
table.usages th {
    text-align: right;
    padding-right: 3px;
    border-collapse: collapse;
}

table th.th-title {
    text-align: center;
}

#search_encrypted_social_security_number {
    width: 750px;
}

div.tooltip {
    padding: 10px;
    margin: 5px;
    background-color: #F0F0F0;
    width: 200px;
    text-align: left;
}

div.tooltip ul, div.tooltip li {
    list-style: disc inside none;
}

div.box {
    border: 1px solid #000;
    padding: 3px;
    color: #000;
    text-align: left;
}

div.box h2 {
    font-size: 1em;
}

div.scroll {
    width: 1180px;
    overflow: auto;
}

h2, h1 {
    color: #fff;
}

/*bolder*/
h3 {
    color: #333;
}

/*bold */

.drop-zone {
    width: 1006px;
    padding: 0px;
    margin-left: 0px;
}

.container {
    display: table;
    border: medium outset #333;
    margin-top: 4px;
    padding: 0px;
}

div.row {
    display: table-row;
}

div.left,
div.right,
div.middle {
    display: table-cell;
}

div.left {
    text-align: right;
}

div.middle {
    padding-left: 5px;
}

/* view */
.active-scaffold a {
    color: #176684;
}

/*apple blue*/
.active-scaffold a:visited {
    color: #176684;
}

/*apple still blue */
.active-scaffold a:hover {
    background-color: white;
    color: #00f;
    text-decoration: underline;
}

.active-scaffold .view {
    background-color: #fff;
}

/*lighter*/
.active-scaffold .active-scaffold td.inline-adapter-cell {
    background-color: #808080;
    border: medium outset #808080
}

/*normal*/

/* Header
   ======================== */
.active-scaffold h2,
.active-scaffold h1 {
    color: #000
}

/*bolder*/
.active-scaffold h3,
.active-scaffold h4,
.active-scaffold h5 {
    color: #333;
}

/*bold*/

.active-scaffold th,
.active-scaffold th a,
.active-scaffold th p {
    background-color: #565656;
    font: bold 1.0em arial, sans-serif;
}

}

/*bold*/
.brown-theme .active-scaffold-header {
    background-color: #363636;
}

/* normal was 005cb8*/
.active-scaffold-header h2 {
    color: #333;
    font: bold 160% arial, sans-serif;
}

/*bold*/
.brown-theme .active-scaffold-header h2 {
    color: #fff;
}

.brown-theme .active-scaffold-header div.actions a {
    color: #fff;
}

.active-scaffold-header div.actions a.disabled {
    color: #666;
}

.brown-theme .active-scaffold-header div.actions a.disabled {
    color: #fff;
}

.brown-theme .active-scaffold-header div.actions a:hover {
    background-color: #e5e5e5;
}

/* ligher was 378cdf */
.active-scaffold-header div.actions a.disabled:hover {
    background-color: transparent;
}

/* Header */
.brown-theme .active-scaffold-header {
    background-color: #a1a5a9;
}

.active-scaffold-header h2 {
    color: #333;
}

/* was 555 */
.active-scaffold-header div.actions a.disabled {
    color: #666;
}

.brown-theme .active-scaffold-header h2,
.brown-theme .active-scaffold-header div.actions a,
.brown-theme .active-scaffold-header div.actions a.disabled {
    color: #fff;
}

.brown-theme .active-scaffold-header div.actions a:hover {
    background-color: #378CDF;
}

/* Table :: Column Headers
============================= */

.active-scaffold th,
.active-scaffold th a,
.active-scaffold th p {
    background-color: #a1a5a9;
}

/* was 555 */
.active-scaffold th a {
    color: #fff;
}

.active-scaffold th p {
    color: #eee;
}

.active-scaffold th a:hover {
    background-color: #565656;
    color: #ff8;
}

/* was 000, ff8 */
.active-scaffold th.sorted,
.active-scaffold th.asc a,
.active-scaffold th.asc a:hover,
.active-scaffold th.desc a,
.active-scaffold th.desc a:hover,
.active-scaffold th.loading a,
.active-scaffold th.loading a:hover {
    background-color: #565656;
}

/* was 333*/
/* Table :: Record Rows
   ============================= */
/* was e6f2ff => 000333 b9dcff => faf1eb */
.active-scaffold tr.record td {
    background-color: #f6f6f6;
    color: #333;
    border-bottom: solid 1px #d0d0d0;
    border-left: solid 1px #d0d0d0;
}

.active-scaffold tr.even-record td {
    background-color: #fff;
    border-left: solid 1px #d0d0d0;
}

.active-scaffold tr.record td.sorted {
    background-color: #f6f6f6;
    border-bottom: solid 1px #d0d0d0;
}

.active-scaffold tr.even-record td.sorted {
    background-color: #fff;
    border-bottom: solid 1px #d0d0d0;
}

.active-scaffold tbody.records td.empty {
    color: #999;
}

.center {
    text-align: center;
}

.red {
    color: red;
}

.underline {
    text-decoration: underline;
}

p.indent {
    margin-left: 50px;
}

/* ===== Inquiry Report =============*/
.approve {
    background-color: #f6f6f6;
    color: green;
}

.deny {
    background-color: #d0d0d0;
    color: red;
}

.exception {
    background-color: #d0d0d0;
    color: purple;
}

.alert {
    background-color: #d0d0d0;
    color: #FF8000;
}

.footer_text {
    text-align: center;
}

div#page {
    background-color: #fff;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 1200px;
}

.red-message {
    color: red;
}

div.inline-message {
    background-color: #f6f5f6;
    border: 1px solid #0d0d0d;
    margin: 10px 25px;
    padding: 10px 15px;
}

div.div-form {
    margin: 10px 25px;
}

div#container {
    margin-bottom: 4px;
}

#document_list {
    margin-top: 15px;
}

#document_list .department {
    margin-bottom: 20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: #e5e5e5;
}

#document_list .department ul, #document_list .department div {
    margin-left: 15px;
}

#document_list h2 {
    margin: 5px;
}

#document_list h3 {
    margin: 10px;
}

#xml_nav .left {
    width: 50%;
    float: left;
    text-align: left;
}

#xml_nav .right {
    width: 50%;
    float: right;
    overflow: auto;
    height: 880px;
    text-align: left;
}

#xml_nav .left .child_node {
    padding-left: 15px;
}

table#xml_tables {
    color: black;
    font-size: 14px;
    text-align: center;
}

table#xml_tables th {
    font-weight: bold;
    text-align: center;
}

.optional a:link,
.optional a:visited,
.optional a:active {
    padding-right: 10px;
    color: #FA8406;
    text-decoration: none;
}

div.flot-container {
    overflow: auto;
    border: outset;
    width: 1100px;
    height: auto;
    margin-top: 5px;
    padding: 10px;
}

div.mobile-flot-container {
    overflow: auto;
    border: outset;
    width: 600px;
    height: auto;
    margin-top: 5px;
    padding: 10px;
}

.right {
    text-align: right !important;
    padding-right: 5px;
}

.left {
    text-align: left !important;
    padding-left: 5px;
}

.top {
    vertical-align: top;
}

.bold {
    font-weight: bold;
}