
div.percent {
    display:inline-block;
    padding-left:8px;
    padding-bottom:3px;
    overflow:hidden;
    width:80px;
}

.mask {
    display:block;
	float:left;
    height:88px;
    margin:0;
    overflow:hidden;
    position:relative;
    padding:0;
    width:85px;
}

.holder {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    -webkit-background-clip:border;
    -webkit-background-inline-policy:continuous;
    -webkit-background-origin:padding;
    background:transparent url(../images/flip_chart_filmstrip_0_9_5_0.png) no-repeat scroll 0 0;
    height:26400px;
    margin:0;
    padding:0;
    position:relative;
    width:113px;
}

#stat_holder{
    height:390px;
}

.stat-container {
    display:block;
    height:130px;
}

.container-left-1, .container-left-2, .container-left-3, .container-left-4, .container-left-5 {
    float:left;
    width:50%;
}

.container-left-4 {
    width:60%;
}

.container-left-5 {
    width:68%;
}

.flip-chart-1 {
    padding-left:35%;
}

.flip-chart-2 {
    padding-left:23%;
}

.flip-chart-3 {
    padding-left:9%;
}

.flip-chart-4 {
    padding-left:5%;
}

.flip-chart-5 {
    padding-left:0%;
}

.container-right-1, .container-right-2, .container-right-3, .container-right-4, .container-right-5 {
    float:right;
    text-align:center;
    width:29%;
    padding-top:30px;
    padding-left:10%;
    padding-right:10%;
}

.container-right-4, .container-right-5 {
    padding-left:5%;
    padding-right:5%;
}

.container-right-5 {
    padding-left:1%;
    padding-right:1%;
}

.flip-chart-definition-1, .flip-chart-definition-2, .flip-chart-definition-3, .flip-chart-definition-4, .flip-chart-definition-5 {
    display:block;
	clear:both;
    text-align:center;
    width:100%;
}

.rbroundbox { background: url(../images/nt.gif) repeat; }
.rbtop div { background: url(../images/tl.gif) no-repeat top left; }
.rbtop { background: url(../images/tr.gif) no-repeat top right; }
.rbbot div { background: url(../images/bl.gif) no-repeat bottom left; }
.rbbot { background: url(../images/br.gif) no-repeat bottom right; }

/* height and width stuff, width not really nessisary. */
.rbtop div, .rbtop, .rbbot div, .rbbot {
width: 100%;
height: 7px;
font-size: 1px;
}
.rbcontent { 
    margin-left: 10px;
    margin-right: 10px;
}
.rbroundbox { 
    float:left;
    width: 100%;
    background-color: black;
    color: white;
}

.scrolling-text-marketing-text {
    float:left;
    text-align:center;
    width:100%;
    padding-top:10px;
    padding-bottom:10px;
}
