@charset "utf-8";

#browserWarning {
	width: 100%; padding: 10px 5px; margin-bottom: 10px;
	background: #cd5c5c; text-align: center;
}

#browserWarning a { color: white !important; } 

/* main layout */
#container {
	width: 700px;
	margin: 0 auto;
	overflow: hidden;
}

#header {
	width: 700px;
	height: 94px;
	overflow: hidden;
	position: relative;
}

#nav-main, #nav-public {
   /* these live at the bottom of this file for the time being */
}

#content {
	width: 700px;
	margin-bottom: 30px;
	padding-top: 40px;
	overflow: hidden;
}

#content.inner-page {
	width: 656px;
	padding-left: 22px;
	padding-right: 22px;
}

#footer {
	clear: both;
	width: 698px;
	height: 80px;
	margin: auto;
	overflow: hidden;
	position: relative;
}

#public_footer {
	clear: both;
	width: 698px;
	height: 80px;
	margin: 0 1px;
	overflow: hidden;
	position: relative;
}

/* header */
#brand {
	position: absolute;
	top: 0px;
	left: 24px;
}

#brand h1 {
	display: none;
}

#top-services {
	width: 252px;
	height: 17px;
	overflow: hidden;
	position: absolute;
	top: 43px;
	left: 380px;
}

#top-services h2 {
	display: none;
}


/* nav-main */
/* navbar */
.nav {
	z-index: 46;
	list-style-type: none;
	font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
	font-size: 11pt;
}

/* navbar items */
.nav > li { float: left; z-index: 47; }
.nav > li > a {
	display: block; position: relative; overflow: hidden;
	width: 90px; height: 9px; z-index: 48;
	padding: 10px 10px 20px 5px; margin: 0 -5px;
	background: url('/static/images/bg_nav_center.png') repeat-x;
	color: #000333 !important; text-align: center;
	text-decoration: none !important; text-transform: uppercase;
}

/* navbar - more space for longer text (semantic class names much?) */
.nav > li.longtext > a { width: 95px; }
.nav > li.verylongtext > a { width: 135px; }
.nav > li.uberlongtext > a { width: 145px; }

/* navbar - 'pressed' state for the current navigation item */
.nav > li.selected > a {
	background-position: 0 -39px !important; color: white !important;
}

/* navbar hover effects are really just moving the background image */
.nav > li.hover > a {
	background-position: 0 -78px; color: #a2a2a2;
}
.nav > li.cap { width: 20px; height: 39px; }
.nav > li.cap.selected { background-position: 0 -39px !important; }
.nav > li.cap.hover { background-position: 0 -78px !important; }
.nav > li.cap.leftcap { background: url('/static/images/bg_nav_left.png') no-repeat; }
.nav > li.cap.rightcap { background: url('/static/images/bg_nav_right.png') no-repeat; }
.nav > li.capped.leftcap > a { padding-left: 0; }
.nav > li.capped.rightcap > a { padding-right: 0; }


/* navbar popovers */
ul.popover {
	display: none; position: absolute !important; list-style-type: none;
	border: solid 2px #cecfeb; border-radius: 10px; -moz-border-radius: 10px;
	background: rgba(34, 34, 34, .75); color: #fff; z-index: 49;
}
ul.popover > li > a {
	display: block; width: 140px; padding: 6px; z-index: 50;
	font-size: 9pt; text-decoration: none; text-align: center;
	color: #fff !important;
}
ul.popover > li > a:hover { background: none; color: #cecfeb; }
ul.popover > li.sep { height: 3px; padding-bottom: 2px; border-bottom: solid 1px #cecfeb; }


ul.menuPage { list-style-type: none; }
ul.menuPage li.sep { height: 20px; }


/* dummy div for hoverOut hack */
#dehoveriser {
	position: absolute; top: 0; left: 0; width: 100%; height: 100%;
	z-index: 45;
}


/* content */
#gallery .panels {
	width: 700px;
	height: 223px;
	margin-bottom: 10px;
	overflow: hidden;
	position: relative;
}

#gallery .panels p {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

#gallery .panels p.active {
	z-index: 10;
}

#gallery .tabs {
	width: 700px;
	height: 159px;
	overflow: hidden;
}

#gallery .tabs .top {
	height: 20px;
	padding: 20px 30px 29px 30px;
	overflow: hidden;
}

#gallery .tabs .top p {
	height: 20px;
	line-height: 20px;
	overflow: hidden;
}

#gallery .tabs .top .left {
	float: left;
	width: auto;
}

#gallery .tabs .top .right {
	float: right;
	width: auto;
}

#gallery .tabs .thumb {
	width: 663px;
	height: 70px;
	margin: 0 auto;
	overflow: hidden;
}

#gallery .tabs .thumb li {
	float: left;
	width: auto;
	height: 51px;
	padding-top: 19px;
	margin-right: 20px;
	overflow: hidden;
}

#gallery .tabs .thumb li.item-first {
	margin-left: 8px;
}

#gallery .tabs .thumb li.item-last {
	margin-right: 0;
}

#zoom-photo {
	float: left;
	/*width: 200px;
	height: 250px;
	padding-top: 10px;*/
	margin-top: 6px;
	overflow: hidden;
	position: relative;
}

#zoom-photo .show {
	overflow: hidden;
	position: relative;
	margin: 0 0 22px 0;
	z-index: 3;
}

#zoom-photo .inquiry {
	width: 200px;
	height: 150px;
}

#zoom-photo .bureau {
	width: 200px;
	height: 220px;
}

#zoom-photo .idfraud {
	width: 200px;
	height: 106px;
}

#zoom-photo .idattributes {
	width: 200px;
	height: 106px;
}

#zoom-photo .pcfraud {
	width: 200px;
	height: 106px;
}

#zoom-photo .warning {
	width: 200px;
	height: 106px;
}

#zoom-photo .tradeline {
	width: 210px;
	height: 106px;
}

#zoom-photo .check {
	width: 180px;
	height: 200px;
}

#zoom-photo .composite {
	width: 180px;
	height: 200px;
}

#zoom-photo .show img {
	position: absolute;
	left: 0;
	top: 0;
}

#zoom-photo .thumb {
	display: none;
	width: 45px;
	height: 50px;
	overflow: hidden;
	position: absolute;
	left: 18px;
	top: 152px;
	z-index: 5;
}

#zoom-photo .thumb img {
	position: absolute;
	top: 0;
	left: 0;
}

#zoom-photo .thumb .map {
	width: 45px;
	height: 50px;
	overflow: hidden;
}

#zoom-photo .btn-list {
	width: 91px;
	height: 27px;
	overflow: hidden;
}

#zoom-photo .btn-list .zoom-in {
	width: 91px;
	height: 27px;
	background: transparent url(/static/images/zoom.png) no-repeat 0 0;
}

#zoom-photo .btn-list .zoom-in a {
	display: block;
	width: 91px;
	height: 27px;
}

#zoom-photo .btn-list .zoom-out {
	display: none;
	width: 91px;
	height: 27px;
	background: transparent url(/static/images/zoom.png) no-repeat 0 -27px;
	overflow: hidden;
	position: relative;
}

#zoom-photo .btn-list .zoom-out a {
	display: block;
	width: 22px;
	height: 22px;
	overflow: hidden;
	position: absolute;
	top: 3px;
}

#zoom-photo .btn-list .zoom-out a.plus {
	left: 5px;
}

#zoom-photo .btn-list .zoom-out a.desc {
	left: 34px;
}

#zoom-photo .btn-list .zoom-out a.restore {
	left: 63px;
}

#product-item .summary {
	float: left;
	width: 436px;
	overflow: hidden;
}

.content-text p {
	line-height: 28px;
	padding-left: 18px;
}

#content .content-ext {
	clear: both;
	padding-top: 24px;
	padding-bottom: 42px;
}

/* footer */
#public_footer .site-name, #public_footer .tel  {
	float: left;
	width: auto;
	height: 16px;
	line-height: 16px;
	padding-top: 5px;
	overflow: hidden;
}

#public_footer .site-name {
	padding-right: 18px;
	margin-right: 14px;
}

#public_footer .nav-site {
	height: 16px;
	line-height: 16px;
	overflow: hidden;
	position: absolute;
	top: 5px;
	right: 0;
}

#public_footer .nav-site a {
	margin-left: 18px;
}

#public_footer .bottom {
	clear: both;
	padding-top: 34px;
}

#public_footer .copyright {
	padding-right: 18px;
	margin-right: 14px;
}