<div id="public_footer">

  <p class="site-name">Clarity Services</p>

  <p class="tel">(727) 489-7266</p>

  <p class="nav-site">
    <a href="/marketing/metrics">DASHBOARD</a>
    <a href="/products">PRODUCTS</a>
    <a href="/about">ABOUT</a>
    <a href="/support">SUPPORT</a>
    <a href="/contact">CONTACT</a>
    <%=link_to('LOGIN',WEB,:target => :blank) %>
  </p>

  <p class="bottom">
    <span class="copyright">
      <%= link_to('Privacy Principles', :action => 'privacy_principles') %>
    </span>
    <span class="copyright">
      Copyright 2009 - <%=Date.today.year%> <a href="#">Clarity Services</a>, All Rights Reserved
    </span>
    <span class="designer">
      Web Design by <a href="#">Design Extensions</a>
    </span>
  </p>

</div><!-- footer -->