<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Gopher Times | Title Here </title>
	<link rel="stylesheet" href="/static/css/stylesheet.css" type="text/css" media="screen" title="master_style" />
	<!--[if IE 7]>
		<link rel="stylesheet" href="/static/css/ie7.css" type="text/css" media="screen" title="iefix" charset="utf-8">
	<![endif]-->
</head>


<!--[if !IE 8]><!--> <body>  <!-- <![endif]-->
<!--[if IE 8]> <body class="ie8"> <![endif]-->
	<div id="content">
		<ul id="nav">
			<li class="right"><a href="#">Contact<span>Get in touch</span></a></li>
			<li class="right"><a href="#">About<span>Who&rsquo;s us?</span></a></li>
			<li class="first"><a href="/">Page One<span>All that&rsquo;s new</span></a></li>
			<li><a href="#">Packages<span>Libraries</span></a></li>
			<li><a href="#">Commands<span>Tools</span></a></li>
			<li><a href="#">Blogs<span>Written words</span></a></li>
			<li><a href="#">Releases<span>Fresh bits</span></a></li>
			<li><a href="#">News<span>Find it here</span></a></li>
		</ul>
		<div id="header">
			<h1>Gopher Times</h1>
			<h3>all the <span>#golang</span> news that matters</h3>
		</div>
		
		<div id="main">
			<div id="feature" class="body_element">
				{.repeated section newsItem} 
				<h2>{Page.Title}</h2>
				<img src="{ImagePath}" width="540" height="250" alt=""/>
				<div class="dateline">{PostedTimeEnglish} | {NewsCategory}</div>
				<p>{FullDescription}</p>
				<p class="attribution">{ContributedBy}</p>
				<div class="metadata">by {Byline} |  <a href="http://www.gophertimes.com/{Page.Permalink}">permalink</a></div>
				<ul class="tags">{.repeated section Tags} <li><a href="#">{@}</a></li>  {.end}
				</ul>
				{.end}
			</div>
			<ul id="recent_posts" class="body_element">
				<li class="header">Recent Articles</li>
				<li>
					<h4>The Future of Type Design</h4>
					<div class="dateline">24 June 2009 | Typefaces</div>
					<p>The eponymous design wizards at Hoefler &amp; Frere-Jones discuss the past and future possibilities of type design.</p>
					<div class="metadata"><a href="#">3 comments</a> | <a href="http://www.typography.com/ask/showBlog.php?blogID=192">visit <span>&rarr;</span></a></div>
				</li>
				<li>
					<h4>New Type Art from Herb Lubalin</h4>
					<div class="dateline">14 June 2009 | Inspiration</div>
					<p>Recently discovered prints from the basement of the <em>U&amp;lc</em> offices will thrill and amaze you!</p>
					<div class="metadata"><a href="#">15 comments</a> | <a href="#">read more <span>&rarr;</span></a></div>
				</li>
				<li>
					<h4>Lovely Cuts</h4>
					<div class="dateline">18 May 2009 | Letterforms</div>
					<p>We survey type designers on their favorite letters to cut. The consensus choice? Read on to find out!</p>
					<div class="metadata"><a href="#">7 comments</a> | <a href="#">read more <span>&rarr;</span></a></div>
				</li>
				<li>
					<h4>Flames of Love</h4>
					<div class="dateline">10 May 2009 | Inspiration</div>
					<p>Seb Lester's latest typograph print, "Flames of Love Burning Deep In My Heart for Eternity" is a work of art in every sense of the word.</p>
					<div class="metadata"><a href="#">22 comments</a> | <a href="#">read more <span>&rarr;</span></a></div>
				</li>
				<li>
					<h4>Revisiting the Grid</h4>
					<div class="dateline">1 May 2009 | Layout</div>
					<p>Grid design is high fashion in design today. Here are five things you should keep in mind when putting together your grid layouts.</p>
					<div class="metadata"><a href="#">15 comments</a> | <a href="#">read more <span>&rarr;</span></a></div>
				</li>
				<li>
					<h4>Making Type Behave Online</h4>
					<div class="dateline">21 April 2009 | Output</div>
					<p>Typography on the web is never easy. Here's our helpful guide to making your typography sing with nothing more than XHTML and CSS 3.</p>
					<div class="metadata"><a href="#">32 comments</a> | <a href="#">read more <span>&rarr;</span></a></div>
				</li>
				<li>
					<h4>Beautiful Letterpress</h4>
					<div class="dateline">3 April 2009 | Output</div>
					<p>Well-made letterpress is breathtaking to behold. The folks at <a href="http://www.boxcarpress.com/">Boxcar Press</a> are modern masters of it. Read our interview.</p>
					<div class="metadata"><a href="#">12 comments</a> | <a href="#">read more <span>&rarr;</span></a></div>
				</li>
			</ul>
			<ul id="taglist" class="body_element">
				<li class="header">Tags</li>
				{.repeated section tags} <li><a href="/tags/{@}">{@}</a></li>  {.end}
			</ul>
		</div>
		
		<ul id="footer">
			<li><div class="head"><label for="search">Search</label></div><input type="text" name="search" value="" id="search" /></li>
			<li><div class="head">Features</div><a href="#">Making Type Behave Online</a>, <a href="#">Five Hundred Years of Letterpress</a>, <a href="#">The New Foundries</a>, <a href="#">The Jump to Digital Type</a>, <a href="#">Heroes of Web Typography</a></li>
			<li><div class="head">Follow</div><a href="#">Articles <abbr>RSS</abbr></a>, <a href="#">Features <abbr>RSS</abbr></a>, <a href="#">Comments <abbr>RSS</abbr></a>; <a href="http://twitter.com/gophertimes">Twitter</a></li>
			<li><div class="head">Colophon</div>Page set in <a href="http://www.fontsquirrel.com/fonts/Bergamo-Std">Bergamo</a>, Helvetica, and Georgia. (If you're not using Safari 3.1+, Firefox 3.5+, or Opera 10+, you're not seeing it right.) Valid <a href="#">XHTML</a>, <a href="#">CSS</a> &mdash; always a beautiful thing. Powered by <a href="#">blog engine of choice</a>.</li>
			<li class="center">Design &copy;<span class="num">2009</span> <a href="http://www.futuraprime.net/">futuraprime</a> design - <a href="http://creativecommons.org/licenses/by-sa/3.0/">a few rights reserved</a></li>
		</ul>
	</div>
</body>
</html>