<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Gopher Times </title>
	<link rel="stylesheet" href="/static/css/stylesheet.css" type="text/css" media="screen" title="master_style" />
	<!--[if IE 7]>
		<link rel="stylesheet" href="/static/css/ie7.css" type="text/css" media="screen" title="iefix" charset="utf-8">
	<![endif]-->
</head>


<!--[if !IE 8]><!--> <body>  <!-- <![endif]-->
<!--[if IE 8]> <body class="ie8"> <![endif]-->
	<div id="content">
		<ul id="nav">
			<li class="right"><a href="/contact/us">Contact<span>Get in touch</span></a></li>
			<li class="right"><a href="/about/us">About<span>Who&rsquo;s us?</span></a></li>
			<li class="first"><a href="/">Page One<span>All that&rsquo;s new</span></a></li>
			<li><a href="/category/packages">Packages<span>Libraries</span></a></li>
			<li><a href="/category/commands">Commands<span>Tools</span></a></li>
			<li><a href="/category/blogs">Blogs<span>Written words</span></a></li>
			<li><a href="/category/releases">Releases<span>Fresh bits</span></a></li>
			<li><a href="/category/news">News<span>Find it here</span></a></li>
		</ul>
		<div id="header">
			<h1>Gopher Times</h1>
			<h3>all the <span>#golang</span> news that matters</h3>
		</div>
		
		<div id="main">
			<div id="feature" class="body_element">
				{.repeated section results} 
								<h2>{Page.Title}</h2>
				<!-- <img src="{ImagePath}" width="540" height="250" alt=""/> -->
				<div class="dateline">{PostedTimeEnglish} | {NewsCategory}</div>
				<p>{FullDescription}</p>
				{.section ContributedBy}<p class="attribution">via {ContributedBy}</p> {.end}
				<div class="metadata">by {Byline} |  <a href="/{Page.Permalink}">permalink</a></div>
				<ul class="tags">{.repeated section Tags} <li><a href="#">{@}</a></li>  {.end}
				</ul>
				{.end}
			</div>
			<ul id="recent_posts" class="body_element">
				<li class="header">Recent Articles</li>
				{.repeated section newsItems} 
				<li>
					<h4>{Page.Title}</h4>
					<div class="dateline">{PostedTimeEnglish} | {NewsCategory}</div>
					<p>{Blurb}</p>
					<div class="metadata"><a href="/{Page.Permalink}">read full <span>&rarr;</span></a></div>
				</li>
				{.end}
			</ul>
			<ul id="taglist" class="body_element">
				<li class="header">Tags</li>
				{.repeated section tags} <li><a href="/tags/{@}">{@}</a></li>  {.end}
			</ul>
		</div>
		
		<ul id="footer">
			<li><div class="head"><label for="search">Search</label></div><input type="text" name="search" value="" id="search" /></li>
			<li><div class="head">Follow</div><a href="http://twitter.com/gophertimes">Twitter</a></li>
			<li><div class="head">Colophon</div>Page set in <a href="http://www.fontsquirrel.com/fonts/Bergamo-Std">Bergamo</a>, Helvetica, and Georgia.  Powered by <a href="https://github.com/garyburd/twister/">Twister</a> running on <a href="http://golang.org">Go</a> hosted at <a href="https://www.github.com/bketelsen/GopherTimes">GitHub</a>.</li>
						<li class="center">Contents &copy;<span class="num">2011</span> <a href="http://www.brianketelsen.com/">Brian Ketelsen, LLC</a> all rights reserved.</li>
			<li class="center">Design &copy;<span class="num">2009</span> <a href="http://www.futuraprime.net/">futuraprime</a> design - <a href="http://creativecommons.org/licenses/by-sa/3.0/">a few rights reserved</a></li>
		</ul>
	</div>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-22696892-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {.meta-left}
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  {.meta-right})();

	</script>
</body>
</html>